<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:theme="@android:style/Theme.Holo"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:launchMode="singleTop"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DownloadListActivity"
            android:label="ダウンロード"
            android:theme="@android:style/Theme.Holo"/>
        <activity
            android:name=".Ior1orl"
            android:label="I or 1 or l"
            android:theme="@android:style/Theme.Holo"/>
        <activity
            android:name=".txtphoto"
            android:label="文字を画像に変換"
            android:theme="@android:style/Theme.Holo"/>
        <activity
            android:name=".asciiart"
            android:label="画像をTXTに変換"
            android:theme="@android:style/Theme.Holo"/>
        <activity
            android:name=".pagedl"
            android:label="ページ保存ツール"
            android:theme="@android:style/Theme.Holo"/>
        <activity
            android:name=".num"
            android:label="電卓"
            android:theme="@android:style/Theme.Holo"/>
        <activity
            android:name=".QrCodeActivity"
            android:label="QRコード化"
            android:theme="@android:style/Theme.Holo"/>
        <activity
            android:name=".SettingsActivity"
            android:label="設定"
            android:configChanges="orientation|screenSize"
            android:icon="@mipmap/ic_launcher_settings"
            android:screenOrientation="unspecified"
            android:theme="@android:style/Theme.Holo" />
        <activity
            android:name=".info"
            android:label="端末情報"
            android:configChanges="orientation|screenSize"
            android:icon="@mipmap/ic_launcher_settings"
            android:screenOrientation="unspecified"
            android:theme="@android:style/Theme.Holo" />
        <activity
            android:name=".reset"
            android:label="バックアップとリセット"
            android:configChanges="orientation|screenSize"
            android:icon="@mipmap/ic_launcher_settings"
            android:screenOrientation="unspecified"
            android:theme="@android:style/Theme.Holo" />
        <activity
            android:name=".SecretActivity"
            android:label="シークレットモード"
            android:theme="@android:style/Theme.Holo.Light"/>
        <activity
            android:name=".WebViewActivity"
            android:theme="@android:style/Theme.Holo"/>
    </application>

</manifest>